.logoContainer {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
}

.logoContainer h1 {
  font-family: "Bodoni Moda SC", serif;
}

.linkToHome {
  position: absolute;
  text-decoration: none;
  margin: 1rem 2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}